########################
# NODE / NUXT
########################

node_modules/
.nuxt/
dist/
coverage/
.nyc_output/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

########################
# ENVIRONMENT VARIABLES
########################

.env
.env.local
.env.*.local

########################
# SQLITE DATABASE
########################

database.sqlite
database.sqlite-journal

########################
# OS FILES
########################

.DS_Store
Thumbs.db

########################
# IDE / EDITOR
########################

.idea/
.vscode/
*.swp

########################
# CACHE
########################

.cache/
.npm
.eslintcache

########################
# MISC
########################

pids
*.pid
*.seed
*.tgz

static/
